<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/2.0"
        id        = "com.drat.demo"
        versionCode="11" 
        version   = "2.0.0">



    <name>Diabetes SelfHelp</name>

    <description>
         Diabetes SelfHelp
    </description>

    <author href="" email="ireshabke@gmail.com">
        Nadeesha Thilakarathne & Iresha Bandaranayake
    </author>


<content src="index.html"/>
	<access origin="*" />






	<engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~2.0.2" />
	<plugin name="cordova-plugin-sms-receive" source="npm" spec="1.0.2" />
    

    <icon src="icons/baby.jpg" />
	 

</widget>
